In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import style
style.use('ggplot')

import warnings
warnings.filterwarnings('ignore')

In [25]:
data = pd.read_csv('customer_data.csv', encoding='latin1')
data

,Date,Customer Name,Phone Model,Brand,Storage (GB),Color,Quantity Sold,Unit Price (USD),Payment Method,Seller Name,Total Price (USD),Bought
0,2024-01-01,John Doe,iPhone 13,Apple,128,Black,1,799,Card,Jane Smith,799,Yes
1,2024-01-02,Jane Roe,Galaxy S21,Samsung,256,White,1,999,Card,John Doe,999,No
2,2024-01-03,Emily Smith,Pixel 6,Google,128,Blue,2,699,Card,Emily Smith,1398,Yes
3,2024-01-04,Michael Johnson,Xperia 5,Sony,256,Red,1,899,Cash,Michael Johnson,899,No
4,2024-01-05,Alice Brown,OnePlus 9,OnePlus,128,Green,3,729,Card,Alice Brown,2187,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
144,2024-05-26,Chloe King,Pixel 6 Pro,Google,256,White,1,899,Card,Chloe King,899,Yes
145,2024-05-27,Henry Davis,Galaxy A72,Samsung,128,Black,1,649,Card,Henry Davis,649,No
146,2024-05-28,Jacob White,iPhone 14,Apple,256,Gold,1,1199,Card,Jacob White,1199,Yes
147,2024-05-29,Olivia Walker,Pixel 7 Pro,Google,256,Black,1,1099,Card,Olivia Walker,1099,No
148,2024-05-30,Eva Green,Galaxy Z Flip 4,Samsung,256,Gold,1,999,Card,Eva Green,999,Yes

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               149 non-null    object
 1   Customer Name      149 non-null    object
 2   Phone Model        149 non-null    object
 3   Brand              149 non-null    object
 4   Storage (GB)       149 non-null    int64
 5   Color              149 non-null    object
 6   Quantity Sold      149 non-null    int64
 7   Unit Price (USD)   149 non-null    int64
 8   Payment Method     149 non-null    object
 9   Seller Name        149 non-null    object
 10  Total Price (USD)  149 non-null    int64
 11  Bought             149 non-null    object
dtypes: int64(4), object(8)
memory usage: 14.1+ KB

In [6]:
data.nunique()

Date                 149
Customer Name        134
Phone Model           52
Brand                  6
Storage (GB)           4
Color                  8
Quantity Sold          3
Unit Price (USD)      17
Payment Method         2
Seller Name          134
Total Price (USD)     21
Bought                 2
dtype: int64

In [30]:
data.duplicated().sum()

0

In [7]:
data.drop_duplicates()

,Date,Customer Name,Phone Model,Brand,Storage (GB),Color,Quantity Sold,Unit Price (USD),Payment Method,Seller Name,Total Price (USD),Bought
0,2024-01-01,John Doe,iPhone 13,Apple,128,Black,1,799,Card,Jane Smith,799,Yes
1,2024-01-02,Jane Roe,Galaxy S21,Samsung,256,White,1,999,Card,John Doe,999,No
2,2024-01-03,Emily Smith,Pixel 6,Google,128,Blue,2,699,Card,Emily Smith,1398,Yes
3,2024-01-04,Michael Johnson,Xperia 5,Sony,256,Red,1,899,Cash,Michael Johnson,899,No
4,2024-01-05,Alice Brown,OnePlus 9,OnePlus,128,Green,3,729,Card,Alice Brown,2187,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
144,2024-05-26,Chloe King,Pixel 6 Pro,Google,256,White,1,899,Card,Chloe King,899,Yes
145,2024-05-27,Henry Davis,Galaxy A72,Samsung,128,Black,1,649,Card,Henry Davis,649,No
146,2024-05-28,Jacob White,iPhone 14,Apple,256,Gold,1,1199,Card,Jacob White,1199,Yes
147,2024-05-29,Olivia Walker,Pixel 7 Pro,Google,256,Black,1,1099,Card,Olivia Walker,1099,No
148,2024-05-30,Eva Green,Galaxy Z Flip 4,Samsung,256,Gold,1,999,Card,Eva Green,999,Yes

In [8]:
data.isnull().sum()

Date                 0
Customer Name        0
Phone Model          0
Brand                0
Storage (GB)         0
Color                0
Quantity Sold        0
Unit Price (USD)     0
Payment Method       0
Seller Name          0
Total Price (USD)    0
Bought               0
dtype: int64

In [26]:
data.columns

Index(['Date', 'Customer Name', 'Phone Model', 'Brand', 'Storage (GB)',
       'Color', 'Quantity Sold', 'Unit Price (USD)', 'Payment Method',
       'Seller Name', 'Total Price (USD)', 'Bought'],
      dtype='object')

In [27]:
print(type(data.Brand))

<class 'pandas.core.series.Series'>

In [28]:

print(data.dtypes)

# Convert columns to numeric, forcing errors to NaN
data['Storage (GB)'] = pd.to_numeric(data['Storage (GB)'], errors='coerce')
data['Quantity Sold'] = pd.to_numeric(data['Quantity Sold'], errors='coerce')
data['Unit Price (USD)'] = pd.to_numeric(data['Unit Price (USD)'], errors='coerce')
data['Total Price (USD)'] = pd.to_numeric(data['Total Price (USD)'], errors='coerce')
data[['Brand', 'Color', 'Bought']] = data[['Brand', 'Color', 'Bought']].astype('str')

Date                 object
Customer Name        object
Phone Model          object
Brand                object
Storage (GB)          int64
Color                object
Quantity Sold         int64
Unit Price (USD)      int64
Payment Method       object
Seller Name          object
Total Price (USD)     int64
Bought               object
dtype: object

In [29]:
data.drop('Seller Name', axis = 1,inplace=True)
data.drop('Customer Name', axis = 1,inplace=True)
data.drop('Date', axis = 1,inplace=True)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Model        149 non-null    object
 1   Brand              149 non-null    object
 2   Storage (GB)       149 non-null    int64
 3   Color              149 non-null    object
 4   Quantity Sold      149 non-null    int64
 5   Unit Price (USD)   149 non-null    int64
 6   Payment Method     149 non-null    object
 7   Total Price (USD)  149 non-null    int64
 8   Bought             149 non-null    object
dtypes: int64(4), object(5)
memory usage: 10.6+ KB

In [32]:
data.nunique()

Phone Model          52
Brand                 6
Storage (GB)          4
Color                 8
Quantity Sold         3
Unit Price (USD)     17
Payment Method        2
Total Price (USD)    21
Bought                2
dtype: int64

In [48]:
data.to_csv('Web.csv')